---
import { Globe } from 'lucide-react';
---
<footer class="mun-1">
  <div class="mun-2">
    <div class="mun-3">
      <div class="mun-4">
         <Globe className="mun-12" client:idle />
         <span class="mun-5">RIT MUN</span>
      </div>
      <p class="mun-6">
        Rochester Institute of Technology Model United Nations. Empowering students through diplomacy, debate, and international relations.
      </p>
    </div>
    
    <div>
      <h4 class="mun-7">Quick Links</h4>
      <ul class="mun-8">
        <li><a href="/committees" class="mun-9">Committees</a></li>
        <li><a href="/schedule" class="mun-9">Schedule</a></li>
        <li><a href="/registration" class="mun-9">Registration</a></li>
        <li><a href="/contact" class="mun-9">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <h4 class="mun-7">Legal & Tools</h4>
      <ul class="mun-8">
        <li><a href="#" class="mun-9">Code of Conduct</a></li>
        <li><a href="#" class="mun-9">Privacy Policy</a></li>
        <li class="mun-10">
          Built with Astro & Tailwind
        </li>
      </ul>
    </div>
  </div>
  <div class="mun-11">
    &copy; {new Date().getFullYear()} RIT Model United Nations. All rights reserved.
  </div>
</footer>