@import "tailwindcss";

@theme {
  --color-brand-orange: #f76902;
  --color-brand-dark: #1e1e1e;
  --color-brand-light: #f4f4f4;
}

body {
  @apply bg-brand-light text-brand-dark;
  font-family: system-ui, -apple-system, sans-serif;
} 
