---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Page Not Found | RIT MUN">
	<div class="error-page-wrapper">
		<h1 class="error-title">404</h1>
		<p class="error-subtitle">Oops! We couldn't find that page.</p>
		<p class="error-desc">If you are looking for an old conference page, it may have been moved or archived. Please use the navigation above to return to our new website.</p>
		<a href="/" class="error-home-link">Go to Homepage</a>
	</div>
</Layout>