---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Page Not Found | RIT MUN">
	<div class="mun-38">
		<h1 class="mun-39">404</h1>
		<p class="mun-40">Oops! We couldn't find that page.</p>
		<p class="mun-41">If you are looking for an old conference page, it may have been moved or archived. Please use the navigation above to return to our new website.</p>
		<a href="/" class="mun-42">Go to Homepage</a>
	</div>
</Layout>